<!-- <h1>Daniel Sellers</h1> -->
<body>
    <div class="top">
        <h2 class="welcome">Welcome to CSE Motors</h2>
        <img src="/images/vehicles/batmobile.jpg" alt="image of a batmobile" id="batcar">
        <div class="topBox">
            <h2 class="carInfo">1960's Batmobile</h2>
            <p>3 Cup Holders</p>
            <p>Batman Doors</p>
            <p>Fuzzy Dice</p>
            <button>Own Today</button>
        </div>
    </div>
    <div class="bottomGrid">
        <h3 class="upG">Batmobile Upgrades</h3>
        <div class="flux">
            <img src="/images/upgrades/flux-cap.png" id="flux">
            <figcaption>Flux Capacitor</figcaption>
        </div>
        <div class="flame">
            <img src="/images/upgrades/flame.jpg" id="flame">
            <figcaption><a>Flame Decals</a></figcaption>
        </div>
        <div class="bump">
            <img src="/images/upgrades/bumper_sticker.jpg" id="bump">
            <figcaption><a>Bumper Stickers</a></figcaption>
        </div>
        <div class="hubCaps">
            <img src="/images/upgrades/hub-cap.jpg" id="hub">
            <figcaption><a>Hub Caps</a></figcaption>
        </div>
        <h3 class="revs">Batmobile Reviews</h3>
        <ul class="revLi">
            <li>"So fast it's like I can save Gotham City" (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling Wayne cool" (5/5)</li>
            <li>"The greatest legacy ride of our day" (4.5/5)</li>
            <li>"60's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</body>